<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>QuyLe - Blog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App css -->
    @Styles.Render("~/Admiria/css")
    @Url.Content("~/Content/Site.css")
</head>

@RenderSection("HeadScripts", required: false)
<body>
    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Navigation Bar-->
    <header id="topnav">
        @Html.Partial("~/Views/Shared/Partials/TopNavigation.cshtml")
        
        <!-- MENU Start -->
        @Html.Partial("~/Views/Shared/Partials/Menu.cshtml")
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- Footer -->
    @Html.Partial("~/Views/Shared/Partials/Footer.cshtml")
    <!-- End Footer -->
    <!-- jQuery  -->
    @Scripts.Render("~/Admiria/js")
    @RenderSection("Scripts", required: false)
</body>
</html>